<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.min.css"/>
    <link rel="stylesheet" href="CovidTracker.Blazor.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">
    <link href="_content/Blazorise.Icons.Material/blazorise.icons.material.css" rel="stylesheet"/>
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="_framework/blazor.web.js"></script>

</body>

</html>