@page "/"

<PageTitle>Home</PageTitle>


<div class="hero min-h-[80vh] ">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div>
            <canvas class="w-[200px] h-[200px] md:w-[400px] md:h-[400px] lg:w-[800px] " id="myChart"></canvas>
        </div>
        <div>
            <h1 class="text-5xl font-bold">Tired of feeling tired ? </h1>
            <p class="py-6">
                We're here to help you track your exercise, work and Long Covid Symptoms.
                We are not a medical service, but we can help you track your symptoms and provide you with a report to take to your doctor.
            </p>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>

<script src="js/home.js" type="module"></script>