<footer class="footer p-2 bg-neutral text-neutral-content">
    <nav class="flex gap-2 w-full justify-between">
        <h6 class="footer-title">Sick Tracker &#169 2024</h6>
        <div class="flex gap-2">
            <a class="link link-hover">Github</a>
            <a class="link link-hover">Twitter</a>
            <a class="link link-hover">Linkedin</a>
        </div>
    </nav>
</footer>