@inherits LayoutComponentBase

<div class="min-h-[100vh] flex flex-col">
    <NavBar/>

    <main class="flex-1">
        <article class="">
            @Body
        </article>
    </main>
    <MainFooter/>
</div>
