<footer class="footer p-4 bg-neutral text-neutral-content">
    <nav class="flex gap-2 w-full justify-between">
        <h6 class="footer-title">Long Covid Symptom Tracker &#169 2024</h6>
        <ul class="flex gap-4">
            <li>
                <a class="link link-hover text-xl">
                    <i class="devicon-github-original" ></i>
                </a>
            </li>
            <li>
                <a class="link link-hover text-xl">
                    <i class="devicon-linkedin-plain"></i>
                </a>
            </li>
            <li>
                <a class="link link-hover text-xl">
                    <i class="devicon-twitter-original"></i>
                </a>
            </li>
        </ul>
    </nav>
</footer>